body {
    font-family: 'STHeiti', 'Microsoft YaHei', Helvetica, Arial, sans-serif;
    margin: 0 auto;
    background: url(../images/bg01.jpg) #000 no-repeat center top;
    background-size: 100% auto;
}

html,
body {
    position: relative;
    height: 100%;
}

#container {
    margin: 0 auto;
    max-width: 750px;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

img {
    max-width: 100%;
	height: auto;
}

.main {
    height: 95.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main>div{
    flex-grow: 1;
}

.main .logo {
    height: 8.7%;
    margin: 2vh auto;
}

.main .logo img{
    height: 100%;
}

.my_container{
    height: 100%;
    /* margin: 0 auto 2.5vh; */
}

/* .main .photo {
    height: 50%;
	padding-left: .75rem;
    margin: 0 auto 2.5vh;
} */

.main .photo img{
    height: 100%;
}

.main .title {
    height: 5%;
    margin: .3vh auto 2.5vh;
}

.main .title img{
    height: 100%;
}

.main .navi {
    height: 31%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    transform-origin: 50% -1%;
    gap: 1vh;
    margin: 0 auto 2.5vh;
}

.main .navi>li {
    box-sizing: border-box;
    height: 25%;
    width: 100%;

    /* height: 16%; */
    /* margin-bottom: 1.4vh; */
}

.main .navi>li>a{
    display: block;
    height: 100%;
}

.main .navi>li>a>img{
    height: 100%;
}

/* 子選單 */
.main .navi>li .jsBox {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%,-100%);
	margin-top: 3vh;
    display: none;
    box-sizing: border-box;
    z-index: 9999;
}

.main .navi>li.on .jsBox {
    display: block;
}

.main .navi>li .jsBox ul {
    padding: 1rem 1rem;
    border: 1px solid #000;
    background: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .navi>li .jsBox li {
    margin-bottom: 1rem;
    overflow: hidden;
    zoom: 1;
    display: flex;
    align-items: center;
    gap: 6px;
}

.main .navi>li .jsBox li:nth-last-child(1){
    margin-bottom: 0px;
}

.main .navi>li .jsBox li span {
    display: block;
    color: #000;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
    background: #fff;
    box-sizing: border-box;
    padding: 0 .5rem;
    line-height: 24px;
}

.main .navi>li .jsBox li>img {
    margin: 0;
    width: 2.5rem;
    display: block;
    flex-shrink: 0;
}

.main .navi>li .jsBox li .url {
    padding: 0 0.2rem;
    margin-right: 0.2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 200px;
}

.main .navi>li .jsBox li a {
    padding: 0 0.2rem;
    display: block;
    color: #000;
    font-size: 12px;
    text-align: center;
    background: url(../images/btn_bg.png) no-repeat;
    background-size: 100% 100%;
    line-height: 24px;
    white-space: nowrap;
}

.main .navi>li .jsBox .arrow {
    margin-left: -0.22rem;
    width: 0.3rem;
    position: absolute;
    left: 25%;
    bottom: -0.1rem;
}

/* SWIPER 輪播 */
.swiper-slide{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-pagination-bullet{
    background: #cbc8d3 !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active{
    background: #ffe9a0 !important;
}

.swiper {
    width: 100%;
    height: calc(60.3% - 6.5vh);
}

.swiper-wrapper{
    margin-top: 2vh;
}

.swiper-slide img {
    display: block;
    object-fit: cover;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: -.2vh !important;
}

/* 右懸浮客服 */
#service-menu{
    position: fixed;
    right: 0;
    top: 125px;
    z-index: 999;
    width: 40px;
    cursor: pointer;
}

#service-menu a{
    display: flex;
    justify-content: end;
}

/* 公告 */
.newSection {
    box-sizing: border-box;
    background: #000000c7;
	border-top: 1px solid #1E1E1E;
	line-height: .5;
    position: relative;
    z-index: 9;
	zoom:.9;
    height: 4.5vh;
}

.newSection .newsBox {
    width: 90%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.newSection dt {
    float: left;
    color: #ffeaa7;
    font-size: 14px;
    line-height: 42px;
}

.newSection dt img {
    margin: -2px 5px 0 0;
    display: inline-block;
    vertical-align: middle;
	width: 20px;
    height: 16px;
}

.newSection dd {
    height: 40px;
    line-height: 40px;
}

.newSection dd li {
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    font-size: 14px;
    color: #999;
	padding-left: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.newSection .hd {
    padding: 0;
    height: 5px;
    position: absolute;
    top: 14px;
    right: 0;
}

.newSection .hd .prev {
    margin-right: 20px;
}

.newSection .hd span {
    display: block;
}

.newSection .hd a {
    cursor: pointer;
    margin-right: 2px;
    display: block;
    color: #666;
    float: left;
}

.infoList li {
  position: relative;
  max-width: 1502px;
  overflow: hidden;
}

.infoList li p {
  position: absolute;
  animation-name: run;
  animation: 30s linear 0s infinite run;
}

@keyframes run {
  0% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* RWD */

@media screen and (min-width: 768px){
    .main .navi>li .jsBox{
        margin-top: 4vh;
    }
    .main .navi>li .jsBox li .url {
        width: 340px;
    }
}

@media screen and (max-width: 768px){
    .main .navi>li .jsBox li .url {
        width: 300px;
    }
}

@media screen and (max-width: 430px){
    .main .navi>li .jsBox li .url {
        width: 200px;
    }
}

@media screen and (max-width: 375px){
    .swiper-pagination-bullet{
        width: 6px !important;
        height: 6px !important;
    }
}

@media screen and (max-width: 320px){
    .main .navi>li .jsBox li .url{
        width: 168px;
    }
    .swiper-pagination-bullet{
        width: 5px !important;
        height: 5px !important;
    }
}

